body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1 {
    text-shadow: 0.3px 0.3px 0.6px yellow, -0.3px -0.3px 0.6px yellow,
        0.3px -0.3px 0.6px yellow, -0.3px 0.3px 0.6px yellow;
    margin-bottom: 40px;
}

p {
    color: red;
    padding-bottom: 20px;
    width: 100%;
    max-width: 510px;
    text-align: left;
    margin: 0 auto 10px;
}

span {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 480px;
}

label {
    color: #000292;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
}

.idadeSelecao {
    display: flex;
    gap: 20px;
}

.divIdade {
    width: 40%;
}

.divPassa {
    width: 100%;
    padding-left: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.buttons input {
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.buttons input:hover {
    transform: scale(0.95);
}
